.row {
	display: inline-grid;
	padding: 0 4px;
}
.tile {
	-ms-flex: 25%;
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
	img {
		margin-top: 8px;
		vertical-align: middle;
		width: 180px;
	}
}
@media screen and (max-width: 800px) {
	.tile {
		-ms-flex: 50%;
		flex: 50%;
		max-width: 50%;
	}
}
@media screen and (max-width: 600px) {
	.tile {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
}
